.owl-nav button {
    font-size: 2rem !important;
    margin: 10px 40px !important;
    opacity: 0.5;
    transition: all 0.3s;
}

.owl-nav button:hover {
    color: inherit !important;
    background: none !important;
    opacity: 1;
}

/* .testimonial .owl-dots {
    transform: translateY(-140px);
    width: 100px;
    margin-left: 3.5rem;
}

.testimonial .owl-dots button {
    transform: scale(0.75);
} */

header .navlink,
header .navlink:hover,
header .navlink.active {
    color: #fff !important;
}

nav .navlink {
    color: rgba(0, 0, 0, 0.8) !important;

}

nav .navlink:hover,
nav .navlink.active:hover {
    color: rgba(0, 0, 0, 0.9) !important;
}

nav .navlink.active {
    color: #451a03 !important;
}



.room-details li:not(:last-child)::after {
    content: " /";
    margin-left: 0.5em;
}

.owl-theme .owl-dots .owl-dot span {
    background: #ebdccb !important;
    width: 8px;
    height: 8px;
    margin: 10px 8px 25px 8px;
    display: block;
    border-radius: 0;
    outline: solid 2px #451a0385;
    outline-offset: 0px;
    transition: all .2s ease;
}


.owl-theme .owl-dots .owl-dot:hover span {
    background: #451a0385 !important;
    outline-offset: 1px;
}

.owl-theme .owl-dots .owl-dot.active span {
    background: #724226 !important;
    outline-offset: 2px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}


.button:active,
.button.is-checked {
    background-color: #451a03;
    color: #ebdccb;
}