.owl-nav button {
    font-size: 2rem !important;
    margin: 10px 40px !important;
    opacity: 0.5;
    transition: all 0.3s;
}

.owl-nav button:hover {
    color: inherit !important;
    background: none !important;
    opacity: 1;
}

/* .testimonial .owl-dots {
    transform: translateY(-140px);
    width: 100px;
    margin-left: 3.5rem;
}

.testimonial .owl-dots button {
    transform: scale(0.75);
} */

.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #000;
    stroke-width: 5.5;
    stroke-linecap: round;
}

.ham3 .top {
    stroke-dasharray: 40 130;
}

.ham3 .middle {
    stroke-dasharray: 40 140;
}

.ham3 .bottom {
    stroke-dasharray: 40 205;
}

.ham3.active .top {
    stroke-dasharray: 75 130;
    stroke-dashoffset: -63px;
}

.ham3.active .middle {
    stroke-dashoffset: -102px;
}

.ham3.active .bottom {
    stroke-dasharray: 110 205;
    stroke-dashoffset: -86px;
}